@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

header {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 204, 126);
    
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-left: 4rem;
}

nav {
    margin-right: 20rem;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

#adm {
    display: flex;
    align-items: center;
}

.navList__item {
    margin-right: 1.5rem;
}

.navList__item:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.container__user {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    cursor: pointer;
}

.container__user span {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 .15rem;
}
